<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Új szám hozzáadása</h1>
    <form method="post">
        <label>
            Előadó:
            <input type="text" name="artist">
        </label><br>
        <label>
            Szám címe:
            <input type="text" name="title">
        </label><br>
        <label>
            Hossza(mp):
            <input type="number" name="length" value="0">
        </label><br>

        <% errors.forEach(item => { %>
            <p style="color: red;"><%= item %></p>
        <% }); %>

        <input type="submit" value="Hozzáad">
        <a href="/">Mégse</a>
    </form>
</body>
</html>